<h1>Log In</h1>

<% if @user.errors.any? %>
    <h4>Errors</h4>
    <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
<% end %>

<%= form_for @user do |user| %>

<% end %>