<h1>Log In</h1>

<% if @error %>
<div class="fields_with_errors">
    <h4>Errors:</h4>
    <p><%= @error %></p> 
</div>
<br />
<% end %>

<%= render 'login' %>

<br />
<%= link_to "Login via GitHub", "/auth/github" %>