<h1><%= "Edit " + @band.name %></h1>
<p>Update Band Info and/or Remove Members</p>

#edit form for updating info and removing users 

<p>Add Members</p>
#custom route to add user?

<p>Add Tags</p>
# add tags form routes to tags new 


<%= button_to('Delete Band', {action: "destroy", id: @band.id}, method: :delete, data: {confirm: "Are you sure?" }) %>
