<h1>Bands#edit</h1>
<p>Find me in app/views/bands/edit.html.erb</p>

#edit form for updating info and removing users 

#custom route to add user?

# add tags form routes to tags new 


Delete band button/form exists on this page 